@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

ul {
    margin-bottom: 0;
}
.header, .content, .footer {
    max-width: 1900px;
    margin: 0 auto;
}

.wrapper_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 50px 0 10px 0;
}

.wrapper_header .phone, .wrapper_header .call_back {
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
}

.logo {
    padding-left: 30px;
}

.mw-100 {
    max-width: 100%;
    min-width: 200px;
}

.wrapper_header .menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 30px 0 30px;
}

.wrapper_header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*прижимает содержимое к краям */
    /*выравнивает элементы по центру на вертикальной */
}

.menu, .phone, .call_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 20px;
}

/*orange hover*/
.wrapper_header .menu ul a, .language a {
    /*+ block lenguage from content*/
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #696969;
    padding: 10px 15px;
    white-space: nowrap;
    font-weight: bold;
}

.wrapper_header .menu ul a:hover, .language a:hover {
    background: #ffb940;
    border-radius: 30px;
    color: black;
}

/*orange hover*/
/*Иконка*/
.for_call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
}

.for_call a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #9f9f9f;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.for_call a:hover {
    background: #ffa200;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.for_call a i {
    color: white;
    font-size: 17px;
}

.contact_number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

/*Иконка*/
.phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.phone .for_call {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.phone ul li {
    list-style-type: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
}

/*Зворотній звязок btn*/
.call_back {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.call_back .btn_text {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 5px;
}

.call_back .btn_text p {
    margin-bottom: 0;
    font-size: 12px;
    color: #696969;
    font-weight: bold;
}

.button {
    width: 100%;
    font-weight: bold;
    border-radius: 25px;
    color: black;
}

.button a {
    white-space: nowrap;
    font-size: 12px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.button a:hover {
    background: #ffb940;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/*Зворотній звязок btn*/

.content .wrapper_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.content .wrapper_content .main_search {

    flex-basis: 30%;
    padding: 9px 10px 8px 10px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.content .main_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 20%;
    min-width: 300px;
    background-color: #3f2800;
    color: white;
    padding: 14px 0 15px 0;
}

.content .main_list h2 {
    font-size: 18px;
}

.content .fa.fa-navicon {
    color: white;
}

.language {

    flex-basis: 10%;
    text-align: center;
    white-space: nowrap;
    padding: 17px 10px 16px 10px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.my_cabinet {

    flex-basis: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 10px 9px 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.social_icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-basis: 20%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    text-align: center;
    padding: 11px 20px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

/*Main_list*/
/*Main_list*/
/*Input*/
input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 10px 15px;
    background: #ececec;
    border: none;
}

.input-group-btn {
    position: relative;
}

.btn_search {
    position: absolute;
    left: -30px;
    top: -3px;
    background: transparent;
    border: none;
}

/*Input*/
/*Иконки*/
.social_icons a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #9f9f9f;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 22px;
}

.social_icons a:hover {
    background: #ffa200;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.social_icons a i {
    font-size: 23px;
}

/*Иконки*/
.dropdown-toggle a, .basket a {
    color: black;
    outline: none;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}



.carousel {
    display: flex;
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

/*Yellow list*/
.left-side {
    display: flex;

}
.left-side-list {
    min-width: 300px;
    width: 20%;
    background: url("../img/list_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.left-side-list li {
    padding: 5px 15px 5px 30px;
}

.left-side-list li:hover {
    background: white;
    transition: .5s;
}

.left-side-list a {
    color: white;
}

.left-side-list a:hover {
    color: black;
}

/*Yellow list*


 */

   /*Slider*/

.right-side {
    width: 80%;
}
.slider-item {
    background-size: cover;
}
.slider-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 125px 0 211px 135px;
}
.slider-title h3 {
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 40px;
    letter-spacing: .25em;
}
.slider-description {
    font-size: 15px;
    color: white;
    padding-bottom: 45px;
}
.button_on_slider button {
    width: 80%;
    border: none;
    text-align: center;
    letter-spacing: .25em;
    border-radius: 25px;
    background: #ffa200;
    padding: 10px 35px;
    outline: none;
}
.button_on_slider a {
    border-radius: 25px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

@media all and (max-width: 600px) {
    .carousel {
        flex-flow:column;
    }
    /* Делаем сайдбар на всю ширину экрана */
    .left-side {
        width:auto;
    }
    .slider-text {
        padding: 0;
    }
}

    /*Slider*/

/*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*/


.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.services {
    display: flex;
    align-items: center;
}
.services a {
    position: relative;
    margin-right: -30px;
}
.text-services {
    padding: 30px 40px;
    background-color: #eaeaea;
    border-radius: 0 50px 50px 0;
}
.text-services p {
  margin: 0;
}
.mw-100 {
    min-width: 150px;
}











/*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*/

